.App {
  width: 50%;
  margin: 30px;
}


.chat-content {
  height: 350px;
  overflow-y: scroll;
}

.line {
  margin-top: 10px;
  display: flex;
}

.chat-box {
  background: #eee;
  padding: 10px;
  max-width: 200px;
  margin: 10px 20px;
  text-align: left;
}

.mine {
  margin-left: auto;
}