.ChatApp {
  width: 85%;
  margin: 30px;
}


.chat-content {
  height: 350px;
  overflow-y: scroll;
  background-color: #4e9893;
  border-radius: 15px;
  padding: 20px 5px;
}

.input-box {
  background: #f4f1f7;
  color: #0e061f;
  padding: 10px;
  width: 65%;
  margin: 20px 5px;
  text-align: left;
  font-size: 17px;
}

.sendBtn {
  font-size: 17px;
  padding: 10px;
  border-radius: 10px;
  background-color: #9787a2;
  color: #f7fcf6;
  font-weight: 600;
}

.chat-box {
  padding: 12px;
  margin: 15px;
  text-align: left;
  font-size: 18px;
  position: relative;
  border-radius: 5px;
}

.mine {
  margin-left: auto;
  background-color: #e9dced;
  color: #3a314c;
  margin-right: 5px;
}

.answer {
  margin-right: auto;
  background-color: #c3b1e8;
  color: #2b0c34;
}

.magicShell {
  width: 50%;
  position: absolute;
  top: 70%;
  left: 20%;
  pointer-events: none;
  animation: shell-spin 5s; 
  animation-iteration-count: infinite;
  transition: 10s;
}


@keyframes shell-spin {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(5deg); }
  100% { transform: rotate(0deg); }
}

